$dark-pink: #314455;
$pink: #c96567;
$off-pink: #9e5a63;
$off-purple: #644e5b;
$light-purple: #fce8ef;
$blue: #0677a1;
$light-blue: #97aabd;

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
